# NES configuration for cc65 linker

MEMORY {
  ZP:     start = $00, size = $100, type = rw;
  RAM:     start = $0300, size = $0500, type = rw;
  HEADER:  start = $0000, size = $10, type = ro, file = %O, fill = yes;
  PRG:     start = $8000, size = $4000, type = ro, file = %O, fill = yes, fillval = $FF;
}

SEGMENTS {
  HEADER:  load = HEADER, type = ro;
  ZEROPAGE: load = ZP, type = zp;
  BSS:     load = RAM, type = bss, define = yes;
  CODE:    load = PRG, type = ro, start = $8000;
  RODATA:  load = PRG, type = ro;
  CHRDATA: load = PRG, type = ro;
  VEC:     load = PRG, type = ro, start = $BFFA;
}
